body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #333333;
  color: #ffffff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: inherit;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 200px;
  margin: 2rem auto;
}
